// map
.leaflet-container {
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  white-space: pre-wrap;
  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// map
.leaflet-container {
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  white-space: pre-wrap;
  height: auto !important;
  cursor: pointer;
  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination{
  position: relative !important;
  &.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: var(--swiper-pagination-bottom, 0px) !important;
  }
}