// map
.map-container {
  height: 100%;
  position: relative;
  .btn {
    position: absolute;
    z-index: 800;
    border-radius: 25px;
    background-color: var(--main-button);
    background-position: 53%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    height: 34px;
    width: 34px;
    cursor: pointer;
  }
  .location-btn {
    background-color: var(--main-button);
    background-image: url(../assets/images/target25.png);
    background-position: 53%;
    background-repeat: no-repeat;
    right: 11px;
    bottom: 122px;
    &[disabled] {
      background-image: url(../assets/images/targetLoading25.png);
      cursor: progress;
    }
    &:hover {
      background-color: var(--secondary-button);
    }
  }
  .refresh-btn {
    background-color: var(--main-button);
    background-image: url(../assets/images/refresh24.png);
    background-position: 53%;
    background-repeat: no-repeat;
    right: 11px;
    bottom: 170px;
    &[disabled] {
      background-color: var(--secondary-button);
      cursor: progress;
    }
    &:hover {
      background-color: var(--secondary-button);
    }
    &:active {
      animation-name: rotate;
      animation-duration: 0.1s;
      animation-play-state:running;
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.65);
    }
    @keyframes rotate {
      0% {
        transform: rotate(90deg);
      }
      100% {
        transform: rotate(270deg);
      }
    }
  }
  .leaflet-container {
    height: 100%;
    .leaflet-control{
      display: none;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    background: #fff;
    white-space: pre-wrap;
    /* Center slide text vertically */
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // map
  .leaflet-container {
    height: 100%;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    background: #fff;
    white-space: pre-wrap;
    height: auto !important;
    cursor: grab;
    /* Center slide text vertically */
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination {
    position: relative !important;
    &.swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: var(--swiper-pagination-bottom, 0px) !important;
    }
  }
  .leaflet-control-container .leaflet-top {
    left: unset !important;
    top: unset !important;
    right: 0;
    bottom: 35px;
    &.leaflet-left .leaflet-control {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .google-map-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    & .google-map-picture {
      width: initial;
      margin-right: 10px;
    }
    & .google-map-text {
      text-decoration: underline;
      text-underline-offset: 5px;
      text-align: start;
      color: rgb(86, 149, 184);
    }
  }
}
