/* global */
:root {
  --main-font-family: 'Noto Sans TC', 'Montserrat', sans-serif;
  --main-color: #F29F05;
  --primary-color: #F29F05;
  --secondary-color: #F2CB05;
  --third-color: #c0c1c6;
  --success-color: #3dd598;
  --warning-color: #ffc542;
  --error-color: #fc5a5a;
  --main-border: #e6ecf0;
  --main-button: #fff;
  --secondary-button: #f3f4f7;
}